
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.navbar {
    z-index:60;
}

body{
    padding: 0;
    background-color: rgb(215, 225, 234);
    font-family: 'Poppins', sans-serif;
}